<th:block>
    <div class="jumbotron">
        <h1 class="text-center text-dark">Taken Orders</h1>
        <hr class="hr-2 bg-dark w-100">
        <table class="table table-hover w-100 mx-auto">
            <thead>
            <tr class="row mx-auto">
                <th class="col-sm-1 text-center">#</th>
                <th class="col-sm-1 text-center">Town</th>
                <th class="col-sm-1 text-center">User</th>
                <th class="col-sm-2 text-center">Pizzas</th>
                <th class="col-sm-2 text-center">Drinks</th>
                <th class="col-sm-1 text-center">Taken</th>
                <th class="col-sm-1 text-center">Finished</th>
                <th class="col-sm-2 text-center">Ordered On</th>
                <th class="col-sm-1 text-center">Price</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="order,iter : ${allOrders}">
                <tr class="row mx-auto">
                    <th class="col-sm-1 text-center" scope="row" th:text="${iter.index + 1}"></th>
                    <td class="col-sm-1 text-center" th:text="${order.address.town}"></td>
                    <td class="col-sm-1 text-center" th:text="${order.user}"></td>
                    <td class="col-sm-2 text-center" th:text="${order.pizzas}"></td>
                    <td class="col-sm-2 text-center" th:text="${order.drinks}"></td>
                    <td class="col-sm-1 text-center" th:text="${order.taken}    ? 'Yes' : 'No'"></td>
                    <td class="col-sm-1 text-center" th:text="${order.finished} ? 'Yes' : 'No'"></td>
                    <td class="col-sm-2 text-center" th:text="${order.orderedOn}"></td>
                    <td class="col-sm-1 text-center" th:text="${order.totalPrice}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <hr class="hr-2 bg-dark">
    </div>
</th:block>