<th:block>
    <div class="container justify-content-center  col-md-11 my-4">
        <div class="jumbotron bg-forms d-flex justify-content-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <h1 class="text text-center">All Orders For Delivery</h1>
                </div>
                <div class="row d-flex justify-content-center">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Street</th>
                            <th scope="col">Number</th>
                            <th scope="col">Block</th>
                            <!--                            <th scope="col">Entrance</th>-->
                            <!--                            <th scope="col">Floor</th>-->
                            <!--                            <th scope="col">Apartment</th>-->
                            <!--                            <th scope="col">Phone Number</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="order,iter : ${allOrders}">
                            <tr>
                                <th scope="row" th:text="${iter.index + 1}"></th>
                                <td th:text="${order.street}"></td>
                                <td th:text="${order.number}"></td>
                                <td th:text="${order.block}"></td>
                                <td><a th:href="@{/delivery/details/{id}(id=${order.id})}"
                                       class="btn bg-success text-white">Details</a></td>
                                <th:block th:if="!isTaken">
                                    <td><a th:href="@{/delivery/take/{id}(id=${order.id})}"
                                           class="btn bg-danger text-white">Take Order</a></td>
                                </th:block>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</th:block>