<th:block>
    <div class="container justify-content-center col-md-11 my-4">
        <div class="jumbotron bg-forms d-flex justify-content-center" th:object="${order}">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <h1>ORDER DETAILS</h1>
                </div>
                <hr class="hr"/>
                <div class="row d-flex justify-content-center">
                    <h4 th:text="'Street: ' + *{street}"></h4>
                </div>
                <hr class="hr"/>
                <div class="row d-flex justify-content-center">
                    <h4 th:text="'Number' + *{number}"></h4>
                </div>
                <hr class="hr"/>
                <div class="row d-flex justify-content-center">
                    <h4 th:text="'Block: ' + *{block}"></h4>
                </div>
                <hr class="hr"/>
                <div class="row d-flex justify-content-center">
                    <h4 th:text="'Entrance' + *{entrance}"></h4>
                </div>
                <hr class="hr"/>
                <div class="row d-flex justify-content-center">
                    <h4 th:text="'Floor: ' + *{floor}"></h4>
                </div>
                <hr class="hr"/>
                <div class="row d-flex justify-content-center">
                    <h4 th:text="'Apartment' + *{apartment}"></h4>
                </div>
                <hr class="hr"/>
                <div class="row d-flex justify-content-center">
                    <h4 th:text="'Phone Number' + *{phoneNumber}"></h4>
                </div>
                <hr class="hr"/>
                <br />
                <div class="row d-flex justify-content-center">
                    <a href="javascript:history.back()" class="btn btn-info">Back</a>
                </div>
            </div>
        </div>
    </div>
</th:block>