<th:block th:fragment>
    <section id="about">
        <div class="container p-4">

            <header class="section-header">
                <h3>About Us</h3>
                <p>La Gatta Mangiona is family pizza restaurant that offer great quality of food and experience.</p>
            </header>

            <div class="row about-cols">

                <div class="col-md-4 wow fadeInUp">
                    <div class="about-col">
                        <div class="img">
                            <img src="#" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Mission</a></h2>
                        <p>
                            Is the ambiance, for good quality food and simple yet unique environment to all guests.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="about-col">
                        <div class="img">
                            <img src="#" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-list-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Plan</a></h2>
                        <p>
                            Our goal is to step ahead of our competition by using delicious original recipe in all of our dishes.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="about-col">
                        <div class="img">
                            <img src="#" alt="" class="img-fluid">
                            <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Our Vision</a></h2>
                        <p>
                            To become a globally recognized pizza chain and to conquer all the world with our meals.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #about -->
</th:block>