<th:block th:fragment>
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>La Gatta Mangiona</h3>
                        <p>
                            La Gatta Mangiona is family pizza restaurant that offer great quality of food and experience.
                            Our goal is to step ahead of our competition by using nonna's original recipe in all of our dishes.
                            The great ambiance, good quality food and simple yet unique personalized service is the key to our success.
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Services</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            18 Pozitano Street<br/>
                            Center, Sofia 1000<br/>
                            Bulgaria <br>
                            <strong>Phone:</strong> +359 888 822 5555<br>
                            <strong>Email:</strong> laGattaMangiona@gmail.com<br>
                        </p>

                        <div class="social-links">
                            <a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="https://facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="https://instagram.com/" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="https://aboutme.google.com" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>La Gatta Mangiona Pizzas</strong>. All Rights Reserved
            </div>
        </div>
    </footer>
</th:block>