<th:block th:fragment>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title} + ' &copy;'"></title>
    <link rel="shortcut icon" th:href="${favicon}">
    <link th:href="@{/css/reset.css}"  rel="stylesheet" >
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet" >
    <link th:href="@{/css/style.css}"  rel="stylesheet" >
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</th:block>