<th:block>
    <div class="container-fluid">

        <div id="logo" class="pull-left">
            <h1><a th:href="@{/}" class="scrollto">La Gatta Mangiona &copy;</a></h1>
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <th:block sec:authorize="isAnonymous()">
                    <div class="collapse navbar-collapse d-flex justify-content-end" id="guestNav">
                        <ul class="pl-3">
                            <li><a class="nav-btn" th:href="@{/users/login}">Login</a></li>
                        </ul>
                        <ul class="pl-3">
                            <li><a class="nav-btn" th:href="@{/users/register}">Register</a></li>
                        </ul>
                    </div>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item active">
                        <div class="dropdown">
                            <a class="nav-link active dropdown-toggle nav-btn" href="#" role="button" id="cartDropdown"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cart
                            </a>
                            <div class="dropdown-menu" aria-labelledby="cartDropdown">
                                <!--  <th:block th:each="item : ${#session.getAttribute('shopping-cart')}" th:object="${item}">-->
                                <!--      <div class="dropdown-item" th:text="|*{product.product.name} x *{quantity}|"></div>-->
                                <!--  </th:block>-->
                                <!--  <div class="dropdown-divider"></div>-->
                                <!--  <div class="text-center">-->
                                <a th:href="@{/cart/details}" class="btn btn-dark">Cart</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-btn" th:href="@{/top-offers}">Top Offers</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-btn" th:href="@{/orders/my}">My Orders</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-btn" th:href="@{/users/profile}">Profile</a>
                    </li>
                    <th:block sec:authorize="hasRole('ROLE_MODERATOR')">
                        <li class="nav-item active">
                            <div class="dropdown show">
                                <a class="nav-btn active dropdown-toggle" href="#" role="button" id="moderatorDropdown"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Moderator
                                </a>
                                <div class="dropdown-menu" aria-labelledby="moderatorDropdown">
                                    <a class="dropdown-item nav-btn" th:href="@{/categories/add}">Add Category</a>
                                    <a class="dropdown-item nav-btn" th:href="@{/products/add}">Add Product</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item nav-btn" th:href="@{/categories/all}">All Categories</a>
                                    <a class="dropdown-item nav-btn" th:href="@{/products/all}">All Products</a>
                                </div>
                            </div>
                        </li>
                    </th:block>

                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <li class="nav-item active">
                            <div class="dropdown">
                                <a class="nav-btn active dropdown-toggle" href="#" role="button" id="adminDropdown"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                    <a class="dropdown-item nav-btn" th:href="@{/users/all}">All Users</a>
                                    <a class="dropdown-item nav-btn" th:href="@{/orders/all}">All Orders</a>
                                </div>
                            </div>
                        </li>
                    </th:block>
                    <li class="nav-item active">
                        <form th:action="@{/logout?login}" method="post">
                            <button class="logout-button nav-btn">Logout</button>
                        </form>
                    </li>
                </th:block>
            </ul>
        </nav>
    </div>
</th:block>