<th:block>
    <nav class="navbar navbar-expand-lg navbar-light bg-pic rounded font-weight-bold">
        <a class="navbar-brand" th:href="@{/}">La Gatta Mangiona ©</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#guestNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!---------------------------
                GUEST SECTION
        ---------------------------->
        <th:block sec:authorize="isAnonymous()">
            <div class="collapse navbar-collapse d-flex justify-content-end" id="guestNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/users/register}">Register</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/users/login}">Login</a>
                    </li>
                </ul>
            </div>
        </th:block>

        <!---------------------------
             LOGIN USER SECTION
        ---------------------------->
        <th:block sec:authorize="isAuthenticated()">
            <div class="collapse navbar-collapse d-flex justify-content-end" id="userNav">
                <ul class="navbar-nav">

                    <!---------------------------
                            COURIER PART
                    ---------------------------->
                    <th:block sec:authorize="hasRole('ROLE_COURIER') && !hasRole('ROLE_MODERATOR')">
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" role="button" id="allOrdersDropdown"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                All Orders
                            </a>
                            <div class="dropdown-menu" aria-labelledby="allOrdersDropdown">
                                <th:block th:each="town : ${T(com.pizzaapp.domain.entities.Town).values()}">
                                    <a class="dropdown-item" th:href="@{orders/delivery/{id}(id=${town})}"
                                       th:text="${town}"></a>
                                </th:block>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/orders/my}">All Orders</a>
                        </li>
                    </th:block>

                    <!---------------------------
                            USER PART
                    ---------------------------->
                    <th:block sec:authorize="hasRole('ROLE_USER') && !hasRole('ROLE_COURIER')">
                        <li class="nav-item active">
                            <div class="dropdown">
                                <a class="nav-link active dropdown-toggle" href="#" role="button" id="cartDropdown"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Cart
                                </a>
                                <div class="dropdown-menu" aria-labelledby="cartDropdown">
                                    <th:block th:each="item : ${#session.getAttribute('shopping-cart')}"
                                              th:object="${item}">
                                        <div class="dropdown-item"
                                             th:text="|*{product.product.name} x *{quantity}|"></div>
                                    </th:block>
                                    <div class="dropdown-divider"></div>
                                    <div class="text-center">
                                        <a th:href="@{/cart/details}" class="btn btn-dark">Cart</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/users/addresses/all}">Addresses</a>
                        </li>
                        <li class="nav-item active">
                            <div class="dropdown show">
                                <a class="nav-link active dropdown-toggle" href="#" role="button" id="orderDropdown"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Order
                                </a>
                                <div class="dropdown-menu" aria-labelledby="orderDropdown">
                                    <a class="dropdown-item" th:href="@{/menu/order/drink}">Drinks</a>
                                    <a class="dropdown-item" th:href="@{/menu/order/pizza}">Pizzas</a>
                                </div>
                            </div>
                        </li>
                    </th:block>

                    <!---------------------------
                            MODERATOR PART
                    ---------------------------->
                    <th:block sec:authorize="hasRole('ROLE_MODERATOR')">

                        <li class="nav-item active">
                            <div class="dropdown show">
                                <a class="nav-link active dropdown-toggle" href="#" role="button" id="basicsDropdown"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Add Basics
                                </a>
                                <div class="dropdown-menu" aria-labelledby="basicsDropdown">
                                    <a class="dropdown-item" th:href="@{/ingredients/size/add}">Pizza Size</a>
                                    <a class="dropdown-item" th:href="@{/ingredients/category/add}">Ingredient
                                        Category</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item active">
                            <div class="dropdown show">
                                <a class="nav-link active dropdown-toggle" href="#" role="button" id="itemDropdown"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Add Items
                                </a>
                                <div class="dropdown-menu" aria-labelledby="itemDropdown">
                                    <a class="dropdown-item" th:href="@{/menu/drinks/add}">Drink</a>
                                    <a class="dropdown-item" th:href="@{/menu/pizzas/add}">Pizza</a>
                                    <a class="dropdown-item" th:href="@{/ingredients/add}">Ingredient</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item active">
                            <div class="dropdown show">
                                <a class="nav-link active dropdown-toggle" href="#" role="button" id="allDropdown"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    All Items
                                </a>
                                <div class="dropdown-menu" aria-labelledby="allDropdown">
                                    <a class="dropdown-item" th:href="@{/items/drinks/all}">Drinks</a>
                                    <a class="dropdown-item" th:href="@{/items/pizzas/all}">Pizzas</a>
                                    <a class="dropdown-item" th:href="@{/items/ingredients/all}">Ingredients</a>
                                </div>
                            </div>
                        </li>
                    </th:block>

                    <!---------------------------
                            ADMIN PART
                    ---------------------------->
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <li class="nav-item active">
                            <div class="dropdown">
                                <a class="nav-link active dropdown-toggle" href="#" role="button" id="adminDropdown"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                    <a class="dropdown-item" th:href="@{/profile/all}">All Users</a>
                                    <a class="dropdown-item" th:href="@{/orders/all}">All Orders</a>
                                </div>
                            </div>
                        </li>
                    </th:block>
                    <li class="nav-item active pl-2">
                        <!--                    <form th:action="@{/logout?login}" method="post">-->
                        <!--                        <button class="logout-button bg-transparent border-0">Logout</button>-->
                        <!--                    </form>-->
                        <a class="nav-link" th:href="@{/logout?login}">Logout</a>
                    </li>
                </ul>
            </div>
        </th:block>
    </nav>
</th:block>

