<th:block>
    <div class="container justify-content-center col-md-11 my-4">
        <div class="jumbotron bg-forms d-flex justify-content-center" th:object="${userViewModel}">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <h1 class="text text-center text-danger" th:text="*{email}" id="user-email"></h1>
                </div>
                <hr class="hr"/>
                <div class="row d-flex justify-content-center">
                    <h4 th:text="'First Name: ' + *{fullName}"></h4>
                </div>
                <hr class="hr" />
                <div class="row d-flex justify-content-center">
                    <h4 th:text="'Roles'"></h4>
                </div>
                <div class="row d-flex justify-content-center" id="role-radios">
                    <div class="radio-navigation-holder w-50 mx-auto d-flex justify-content-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input mb-1" type="radio" id="user-radio" value="user" name="selection">
                            <h5>
                                <label class="form-check-label" for="user-radio">User</label>
                            </h5>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input mb-1" type="radio" id="courier-radio" value="courier" name="selection">
                            <h5>
                                <label class="form-check-label" for="courier-radio">Courier</label>
                            </h5>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input mb-1" type="radio" id="moderator-radio" value="moderator" name="selection">
                            <h5>
                                <label class="form-check-label" for="moderator-radio">Moderator</label>
                            </h5>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input mb-1" type="radio" id="admin-radio" value="admin" name="selection">
                            <h5>
                                <label class="form-check-label" for="admin-radio">Admin</label>
                            </h5>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input mb-1" type="radio" id="root-radio" value="root" name="selection" disabled>
                            <h5>
                                <label class="form-check-label" for="root-radio">Root</label>
                            </h5>
                        </div>
                    </div>
                </div>
                <br />
                <hr class="hr"/>
                <div class="row d-flex justify-content-center">
                    <a th:href="@{/profile/all}" class="btn btn-info">Back</a>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript" >

        let roles = [[${userViewModel.roles}]];

        if (roles.indexOf('ROLE_ROOT') > -1) {
            $('#root-radio').prop('checked', true);
            $('#admin-radio').prop('disabled', true);
            $('#moderator-radio').prop('disabled', true);
            $('#courier-radio').prop('disabled', true);
            $('#user-radio').prop('disabled', true);
        } else if (roles.indexOf('ROLE_ADMIN') > -1) {
            $('#admin-radio').prop('checked', true);
        } else if (roles.indexOf('ROLE_MODERATOR') > -1) {
            $('#moderator-radio').prop('checked', true);
        } else if (roles.indexOf('ROLE_COURIER') > -1) {
            $('#courier-radio').prop('checked', true);
        } else if (roles.indexOf('ROLE_USER') > -1) {
            $('#user-radio').prop('checked', true);
        }

        $(function () {
            $('.form-check-inline>input, .form-check-inline>label').click(function () {
                let userEmail = $('#user-email').text();
                let role = $(this).val();

                let data = {
                    email: userEmail,
                    role: role
                };

                $.ajax({
                    type : 'POST',
                    contentType: 'application/json',
                    url: 'http://localhost:8000/profile/roleEdit',
                    data: data
                });
            });
        });
    </script>
</th:block>