<th:block>
    <div class="d-flex justify-content-center bg-pic">
        <div class="row">
            <form class="form-horizontal" th:action="@{/menu/ingredients/add/size}" method="post">

                <th:block th:include="~{fragments/ingredient-blank}"/>

            </form>
        </div>
    </div>
    <script th:inline="javascript">
        document.getElementById("title").append(" Size");
        document.getElementById("ingredientName").style.display = "none";
        document.getElementById("size").style.display = "block";
        document.getElementById("numberOfSlices").style.display = "block";
        document.getElementById("submitButton").append(" Size");
    </script>
</th:block>