body {
  background: url(https://cdn.hipwallpaper.com/i/21/79/KsT4YS.jpg);
  /*display:block;*/
  /*width: 100%;*/
  /*background-repeat: no-repeat; */
  background-size: auto;font-family: "Open Sans", sans-serif;
}

.bg-pic {
  background: url(https://cdn.hipwallpaper.com/i/21/79/KsT4YS.jpg);
}


#about .about-col {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

#footer {
  background: #000;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #111;
  padding: 60px 0 30px 0;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

.select-size{
  width:220px;
}

hr.paging-before {
  height: 30px;
  border-style: solid;
  border-color: #787878;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr.paging-after {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #787878;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.menu-desc {
  font-size: 13px;
  margin: 10px 0;
  min-height: 50px;
  color: #888;
  line-height: 16px;
  padding: 0 5px;
  height: 65px;
  overflow-y: auto;
  opacity: 1;
}

hr.hr-2 {
  height: 2px;
}
