body {
    background: url(https://cdn.hipwallpaper.com/i/21/79/KsT4YS.jpg);
    /*display:block;*/
    /*width: 100%;*/
    /*background-repeat: no-repeat; */
    background-size: auto;
    font-family: "Open Sans", sans-serif;
}

.bg-pic {
    background: url(https://cdn.hipwallpaper.com/i/21/79/KsT4YS.jpg);
}

/* ------------------------------------------------------------------
-                       START OF ERROR STYLES                       -
------------------------------------------------------------------ */


/* ----------------------------------------------
-                  BEER STYLE                   -
---------------------------------------------- */
.bg-error {
    background-color: #fffaea;
}

.contain {
    height: 400px;
    width: 400px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translatex(-50%) translatey(-50%);
}

svg {
    vertical-align: top;
    width: 100%;
}

.beer {
    animation-name: empty;
    animation-fill-mode: forwards;
    animation-duration: 4s;
    animation-timing-function: linear;
    fill: #F9CF68;
}

@keyframes empty {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    30% {
        clip-path: polygon(0 16%, 100% 12%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0 40%, 100% 44%, 100% 100%, 0% 100%);
    }
    70% {
        clip-path: polygon(0 69%, 100% 66%, 100% 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
}

#myContainer {
    zoom: 0.5;
    -moz-transform: scale(0.5);
}

/* ----------------------------------------------
-                  PASTA STYLE                  -
---------------------------------------------- */
/*@import url("https://fonts.googleapis.com/css?family=VT323");*/
.root{
    --width: 280px;
    --height: 180px;
}

.pasta-body{
    min-width: 640px;
    min-height: 480px;
}

.error-500{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'VT323';
    color: #1E4B6D;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .3);
}

.error-500:after{
    content: attr(data-text);
    display: block;
    margin-top: calc(var(--height) / 10 + 15px);
    font-size: 28pt;
    text-align: center;
}

spaguetti{
    width: var(--width);
    height: var(--height);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, .2));
    display: block;
    margin: 0 auto;
    position: relative;
}

plate{
    width: 100%;
    height: calc(var(--height) / 2.5);
    background: #CAD7E4;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 50px 50px;
    z-index: 4;
}

plate:before{
    content: 'Spaghetti Error';
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0, 0, 0, .2);
    text-align: center;
}

plate:after{
    content: '';
    width: calc(var(--width) / 2);
    height: calc(var(--height) / 10);
    background: #B5C3D0;
    position: absolute;
    top: 100%; left: 50%;
    transform: translateX(-50%);
}

pasta{
    width: calc(var(--width) / 4);
    height: calc(var(--width) / 4);
    border: 5px solid #DEA631;
    background: #EED269;
    border-radius: 50%;
    position: absolute;
    bottom: calc(calc(var(--height) / 2.5) / 3); right: 10px;
    box-shadow: calc(-1 * calc(var(--width) / 4) - 60px) 10px 1px 10px #EED269, calc(-1 * calc(var(--width) / 4) - 60px) 10px 0 15px #DEA631;
    z-index: 2;
}

pasta:before{
    content: '';
    width: calc(var(--width) / 4);
    height: calc(var(--width) / 4);
    border: 5px solid #DEA631;
    background: #EED269;
    border-radius: 50%;
    position: absolute;
    bottom: -5px; right: 60px;
    box-shadow: calc(-1 * calc(var(--width) / 4) - 30px) 10px 1px 1px #EED269, calc(-1 * calc(var(--width) / 4) - 30px) 10px 0 5px #DEA631;
}

pasta:after{
    content: '';
    width: calc(var(--width) / 3);
    height: calc(var(--width) / 4);
    border: 5px solid #DEA631;
    background: #EED269;
    border-radius: 50%;
    position: absolute;
    bottom: -15px; right: 100px;
    box-shadow: calc(var(--width) / 4) 10px 1px 1px #EED269, calc(var(--width) / 4) 10px 0 5px #DEA631;
}

meat{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #B64C19;
    position: absolute;
    bottom: calc(var(--height) / 2.5); right: 64px;
    box-shadow: -150px -2px 0 0 #B64C19, -50px -7px 0 0 #B64C19, -100px 8px 0 0 #B64C19;
    z-index: 3;
}

fork{
    width: 20px;
    height: calc(var(--height) - 30px);
    background: #D3D3D3;
    border-right: 3px solid #B7B7B7;
    border-radius: 50px 50px 0 0;
    position: absolute;
    bottom: 25%; left: 75%;
    transform: translate(-75%, 0%) rotate(25deg);
}


/* ------------------------------------------------------------------
-                       END OF ERROR STYLES                         -
------------------------------------------------------------------ */

#about .about-col {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
}

#footer {
    background: #000;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
}

#footer .footer-top {
    background: #111;
    padding: 60px 0 30px 0;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

.select-size {
    width: 220px;
}

.select-address {
    width: 440px;
}

hr.paging-before {
    height: 30px;
    border-style: solid;
    border-color: #787878;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr.paging-after {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #787878;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.menu-desc {
    font-size: 13px;
    margin: 10px 0;
    min-height: 50px;
    color: #888;
    line-height: 16px;
    padding: 0 5px;
    height: 65px;
    overflow-y: auto;
    opacity: 1;
}

hr.hr-2 {
    height: 2px;
}

.img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.menu-wrapper {
    min-width: 220px;
!important;
    max-width: 220px;
!important;
    overflow: hidden;
}

.content-center {
    margin-left: auto;
    margin-right: auto;
}

.menu-item-bg {
    background: #dcd9cd;
}
