<th:block>
    <div class="container justify-content-center  col-md-11 my-4">
        <div class="jumbotron bg-forms d-flex justify-content-center">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <h1 class="text text-center">Ingredients</h1>
                </div>
                <div class="row d-flex justify-content-center" th:object="${allIngredients}">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td class="col-8">
                                    <th:block th:if="*{#lists.size(sizes)} == 0">
                                        <small class="text-dark font-weight-bold font-italic">Add pizza sizes</small>
                                    </th:block>
                                    <small class="text-dark font-weight-bold font-italic" th:each="size : *{sizes}"
                                           th:text="${size.size} + ', '"></small>
                                </td>
                                <td class="col-4">
                                    <a th:href="@{/menu/ingredients/add/size}" class="btn btn-success">Add Size</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-8">
                                    <th:block th:if="*{#lists.size(doughs)} == 0">
                                        <small class="text-dark font-weight-bold font-italic">Add pizza doughs</small>
                                    </th:block>
                                    <small class="text-dark font-weight-bold font-italic" th:each="dough : *{doughs}"
                                           th:text="${dough.name} + ', '"></small>
                                </td>
                                <td class="col-4">
                                    <a th:href="@{/menu/ingredients/add/dough}" class="btn btn-success">Add Dough</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-8">
                                    <th:block th:if="*{#lists.size(meats)} == 0">
                                        <small class="text-dark font-weight-bold font-italic">Add meats</small>
                                    </th:block>
                                    <small class="text-dark font-weight-bold font-italic" th:each="meat : *{meats}"
                                           th:text="${meat.name} + ', '"></small>
                                </td>
                                <td class="col-4">
                                    <a th:href="@{/menu/ingredients/add/meat}" class="btn btn-success">Add Meat</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-8">
                                    <th:block th:if="*{#lists.size(cheeses)} == 0">
                                        <small class="text-dark font-weight-bold font-italic">Add cheeses</small>
                                    </th:block>
                                    <small class="text-dark font-weight-bold font-italic" th:each="cheese : *{cheeses}"
                                           th:text="${cheese.name} + ', '"></small>
                                </td>
                                <td class="col-4">
                                    <a th:href="@{/menu/ingredients/add/cheese}" class="btn btn-success">Add Cheese</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-8">
                                    <th:block th:if="*{#lists.size(vegetables)} == 0">
                                        <small class="text-dark font-weight-bold font-italic">Add vegetables</small>
                                    </th:block>
                                    <small class="text-dark font-weight-bold font-italic" th:each="vegetable : *{vegetables}"
                                           th:text="${vegetable.name} + ', '"></small>
                                </td>
                                <td class="col-4">
                                    <a th:href="@{/menu/ingredients/add/vegetable}" class="btn btn-success">Add Vegetable</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <hr class="hr"/>

                <div class="d-flex justify-content-center">
                    <h1 class="text text-center">Drinks</h1>
                </div>
                <br />
                <div class="row justify-content-md-center">
                    <div class="col col-lg-5">
                        <a th:href="@{/menu/drink/add}" class="btn btn-success">Add Drink</a>
                    </div>
                    <div class="col col-lg-2">
                        <a th:href="@{/menu/drink/all}" class="btn btn-success ml-5">All Drinks</a>
                    </div>
                </div>
                <br />


                <hr class="hr"/>
                <div class="row d-flex justify-content-center">
                    <h1 class="text text-center">Pizzas</h1>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col col-lg-5">
                        <a th:href="@{/menu/pizza/add}" class="btn btn-success">Make Pizza</a>
                    </div>
                    <div class="col col-lg-2">
                        <a th:href="@{/menu/pizza/all}" class="btn btn-success ml-5">All Pizzas</a>
                    </div>
                </div>
                <br />
                <hr class="hr"/>
            </div>
        </div>
    </div>
</th:block>