<th:block>
    <div class="d-flex justify-content-center bg-pic">
        <div class="row">
            <form class="form-horizontal" th:action="@{/menu/ingredients/add}" method="post">

                <div id="ingredientName" class="form-group" style="display: block">
                    <h2 id="title">Add Ingredient</h2>

                    <label for="name">Name
                        <input class="form-control" id="name" type="text" name="name"
                               placeholder="Ingredient name...">
                    </label>
                </div>
                <div class="form-group">
                    <label for="price">Price
                        <input class="form-control" id="price" type="number" step="any" name="price"
                               placeholder="Ingredient price...">
                    </label>
                </div>
                <div class="form-group">
                    <label for="add-product-categories" class="font-weight-bold">Categories</label>
                    <select class="form-control" id="add-product-categories" name="categories">
                        <option selected="" disabled="">--- Select Categories ---</option>
                    </select>
                </div>
                <hr class="hr"/>
                <div class="row my-5 d-flex justify-content-center">
                    <div class="col d-flex justify-content-center">
                        <button type="submit" class="btn btn-success mr-2" id="submitButton">Add Ingredient</button>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a th:href="@{/menu/add}" class="btn btn-danger mr-2" >Cancel</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <script>
        fetch('/menu/category/fetch')
            .then((response) => response.json())
            .then((json) => {
                json.forEach((category) => $('#add-product-categories')
                    .append(`<option value="${category.id}">${category.name}</option>`));
            })
            .catch((err) => console.log(err));
    </script>
</th:block>