<th:block>
    <div class="jumbotron col-sm-11 m-auto d-flex justify-content-center bg-pic">
        <form id="add-product-form" class="form-group" th:action="@{/menu/pizzas/add}" method="post"
              enctype="multipart/form-data">

            <div class="row d-flex justify-content-center">
                <h2>Add Pizza</h2>
            </div>

            <hr class="hr"/>

            <div class="row d-flex justify-content-center">
                <label for="name" class="font-weight-bold">Name
                    <input class="form-control" id="name" type="text" name="name" placeholder="Pizza name...">
                </label>
            </div>

            <br/>

            <div class="row d-flex justify-content-center">
                <h3>Ingredients</h3>
            </div>

            <hr class="paging-before"/>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-4 ml-5">
                        <h3>Meats</h3>
                        <div class="row" th:each="meat : ${allIngredients.meats}">
                            <label class="font-weight-bold">
                                <input type="checkbox" name="ingredientsIds" th:text="${meat.name}"
                                       th:value="${meat.id}">
                            </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <h3>Cheeses</h3>
                        <div class="row" th:each="cheese : ${allIngredients.cheeses}">
                            <label class="font-weight-bold">
                                <input type="checkbox" name="ingredientsIds" th:text="${cheese.name}"
                                       th:value="${cheese.id}">
                            </label>
                        </div>
                    </div>
                    <div class="col-3">
                        <h3>Vegetables</h3>
                        <div class="row" th:each="vegetable : ${allIngredients.vegetables}">
                            <label class="font-weight-bold">
                                <input type="checkbox" name="ingredientsIds" th:text="${vegetable.name}"
                                       th:value="${vegetable.id}">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <hr class="paging-after"/>
            <br/>

            <div class="row my-5 d-flex justify-content-center">
                <div class="col ml-5 d-flex justify-content-center">
                    <label for="add-product-image" class="font-weight-bold">PizzaImage</label>
                    <input type="file" class="form-control-file" id="add-product-image" name="imageUrl">
                </div>
                <div class="col d-flex justify-content-center">
                    <label for="add-large-image" class="font-weight-bold">LargeImage</label>
                    <input type="file" class="form-control-file" id="add-large-image" name="largeImgUrl">
                </div>
            </div>


            <hr class="hr-2 bg-dark w-25">

            <div class="row my-5 d-flex justify-content-center">
                <div class="col d-flex justify-content-center">
                    <button type="submit" class="btn btn-success mr-2" id="submitButton">Make Pizza</button>
                </div>
                <div class="col d-flex justify-content-center">
                    <a th:href="@{/}" class="btn btn-danger mr-2">Cancel</a>
                </div>
            </div>

        </form>
    </div>
</th:block>
