<th:block>
    <div class="jumbotron bg-pic">
        <h1 class="text-center text-dark">All Pizzas</h1>
        <hr class="hr-2 bg-dark w-75">
        <table class="table table-hover w-75 mx-auto">
            <thead>
            <tr class="row mx-auto">
                <th class="col-md-1 text-center">#</th>
                <th class="col-md-1 text-center">Image</th>
                <th class="col-md-3 text-center">Name</th>
                <th class="col-md-2 text-center">Price</th>
                <th class="col-md-5 text-center">Description</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="pizza, iter : ${pizzas}">
                <tr class="row mx-auto">
                    <th class="col-md-1 text-center" th:text="${iter.index + 1}"></th>
                    <td class="col-md-1">
                        <div class="text-center"><img th:src="${pizza.imageUrl}" width="60" height="60" alt="Item">
                        </div>
                    </td>
                    <td class="col-md-3 text-center" th:text="${pizza.name}"></td>
                    <td class="col-md-2 text-center" th:text="${pizza.price} + '$'"></td>
                    <td class="col-md-5 text-center font-weight-bold" th:text="${pizza.description}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <hr class="hr-2 bg-dark">
    </div>
</th:block>