<th:block>
    <div class="d-flex justify-content-center bg-pic">
        <div class="row">
            <form class="form-horizontal" th:action="@{/users/addresses/add}" method="post">
                <!-- Address form -->

                <h2>Add Address</h2>

                <div class="form-group">
                    <label for="address-town" class="form-group">Town</label>
                        <select class="browser-default custom-select" id="address-town" name="town" required>
                            <option disabled selected>Select town</option>
                            <option th:each="town : ${T(com.pizzaapp.domain.entities.Town).values()}"
                                    th:value="${town}"
                                    th:text="${town}">
                            </option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="address-street">Street
                        <input class="form-control" id="address-street" type="text" name="street"
                               placeholder="Street..." required>
                    </label>
                </div>
                <div class="form-group">
                    <label for="address-number">Number
                        <input class="form-control" id="address-number" type="number" name="number"
                               placeholder="Number..." required>
                    </label>
                </div>
                <div class="form-group">
                    <label for="address-block">Block
                        <input class="form-control" id="address-block" type="text" name="block" placeholder="Block...">
                    </label>
                </div>
                <div class="form-group">
                    <label for="address-entrance">Entrance
                        <input class="form-control" id="address-entrance" type="text" name="entrance"
                               placeholder="Entrance...">
                    </label>
                </div>
                <div class="form-group">
                    <label for="address-floor">Floor
                        <input class="form-control" id="address-floor" type="number" name="floor"
                               placeholder="Floor...">
                    </label>
                    <div class="form-group">
                        <label for="address-door-apartment">Apartment
                            <input class="form-control" id="address-door-apartment" type="number" name="apartment"
                                   placeholder="Apartment...">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="address-phone-number">Phone Number
                            <input class="form-control" id="address-phone-number" type="text" name="phoneNumber"
                                   placeholder="Phone number..." required>
                        </label>
                    </div>
                </div>
                <hr class="hr"/>
                <div class="row my-5 d-flex justify-content-center">
                    <div class="col d-flex justify-content-center">
                        <button type="submit" class="btn btn-success mr-2">Add Address</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>